.submitBtn{
    background-color: #111430;
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 6px;
}
.bgColor1{
    background-color: #FBD062;
}
.bgColor2{
    background-color: #111430;
}